.MiddleHead {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
}
.Middlep {
  font-size: 20px;
  width: 380px;
  font-weight: 600;
  color: #2e3192;
}
.Middleh1 {
  font-size: 44px;
  font-weight: 600;
  width: 500px;
}
.Vestibulum {
  border-right: 0.5px solid rgb(205, 202, 202);
  width: 610px;
}
.Middlepara {
  width: 526px;
}
.MiddleCardDiv {
  background-color: black;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
  padding: 30px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.MiddleCardDivh1 {
  width: 592px;
  font-size: 40px;
  font-weight: 600;
  padding-left: 50px;
  height: 156px;
}
.MiddleCardDivp {
  width: 1016px;
  font-size: 17px;
  padding-left: 57px;
}
.justEveryThing {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.arrowbtn {
  background-color: green;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
}
.arrowbtn:hover {
  background-color: rgb(245, 245, 249);
}
.arrowbtn img {
  /* background-color: green; */
  position: relative;
  color: white;
  border-radius: 25px;
  left: 10px;
  top: 13px;
}
.arrowbtn img:hover {
  color: green;
}
.justEveryThingp {
  font-size: 14px;
  color: #9b9b9b;
}
.Download2022 {
  font-size: 15px;
}
.MidCards {
  display: flex;
  justify-content: space-evenly;
}
.MidCrds {
  position: relative;
  height: 353px;
  width: 263px;
  background-color: rgb(117, 56, 56);
}
.MidCardImg img {
  width: 100%;
  display: block;
}

.MidCardP {
  position: absolute;
  left: 16px;
  bottom: 0px;
  width: 187px;
}
.MidCardP p {
  font-size: 20px;
  font-weight: 600;
}
@media all and (max-width: 1080px) {
  .MidCards {
    flex-wrap: wrap;
    gap: 80px;
  }
  .MiddleHead {
    margin-top: 20px;
  }
  .Vestibulum {
    width: 500px;
  }
  .Middlepara p {
    padding-left: 20px;
  }
  .MiddleCardDivp {
    width: 62%;
  }
}
@media all and (max-width: 771px) {
  .MiddleHead {
    flex-wrap: wrap;
  }
  .Vestibulum {
    border: none;
  }
  .MiddleCardDivh1 {
    width: 416px;
  }
}
@media all and (max-width: 641px) {
  .middle {
    margin-top: 0px;
  }
  .Middlep {
    width: 216px;
  }
  .Middleh1 {
    font-size: 30px;
    width: auto;
  }
  .MiddleCardDivh1 {
    width: 232px;
    padding-left: 10px;
  }
  .MiddleCardDivh1 p {
    font-size: 26px;
  }
  .MiddleCardDivp {
    padding-left: 15px;
    width: 90%;
  }
  .MidCrds {
    position: relative;
    height: 353px;
  }
  .Middlepara p {
    padding-left: 0px;
  }
}